#registercard {
    box-shadow: 0 4px 8px 6px rgba(0,0,0,0.2);
    margin: 2% 1% !important;
    transition: 0.5s;
    border-radius: 5px;
  }

  .row {
      margin-bottom: 0px;
  }

  .cool_link {
    display: inline-block;
  }
  
  .cool_link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ffd54f;
    transition: width .3s;
  }
  
  .cool_link:hover::after {
    width: 100%;
    //transition: width .3s;
  }