.rent-car-section {
  color: #fff;
  background-color: #212121 !important;
  border-bottom: 3px solid #ffd54f;
  border-top: 3px solid #ffd54f;
}

::placeholder {
  color: #fff;
}

.input-field label {
  color: #fff;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #daa520;
  box-shadow: 0 1px 0 0 #daa520;
  color: #daa520;
}

.find-car-section {
  color: #fff;
  background-color: #212121 !important;
  border-bottom: 2px solid #ffd54f;
}

hr {
  padding-bottom: 0.5rem;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea,
#autocomplete-input::placeholder {
  color: #fff;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.tag {
  background-color: #ffd600;
  float: right;
  width: fit-content;
  padding: 0px 10px;
  position: relative;
  bottom: 20px;
  border-radius: 5px;
  font-size: 13px;
  margin-left: -150px;
}
